.menu{
    text-align: right;
    background: yellowgreen;
    line-height: 30px;
    margin-bottom: 0px;
}
.menu-items > a{
    color:white;
    font-size: 20px;
    font-weight:bold;
    margin-right: 15px;
    
}